.section{
  &-about-head{
    .container{
      display: block;
    }
    text-align: center;
    padding-top: 40em;
    padding-bottom: 40em;
    .text{
      margin-top: 1.5em;
      &-link{
        margin-top: 0.5em;
        a{color: inherit;
        font-family: $font_family_bold;}
      }
    }
  }
  &-about-content{
    background: $color_white;
    .container{
      @include block_flex;
    }
    &-image{
      width: 50%;
      padding-right: 6em;
      position: relative;
      img{
        margin-top: -6em;
        margin-bottom: 14em;
        position: relative;
        z-index: 1;
      }
      &:before{
        height: 31.3em;
        width: 17.4em;
        opacity: 0.5;
        position: absolute;
        content: '';
        right:0;
        background: url("../images/point-blue.png") repeat;
        bottom:0;
      }
      &:after{
        height: 22.3em;
        width: 26.3em;
        background-color: #0866FF;
        position: absolute;
        content: '';
        left:-12em;
        bottom:6em;
        z-index: 2;
      }
    }
    &-text{
      width: 50%;
      padding-left: 4em;
      padding-top: 5em;
      .section-text .fraze{
        max-width: 400px;
      }
    }
  }
  &-about-develop{
    text-align: center;
    background: $color_white;
    padding: 6em 0 0;
    &-list{
      margin-top: 10em;
      @include block_flex;
      &_item{
        text-align: left;
        color: $color_white;
        width: 25%;
        background: #04398F;
        padding:  0 5em 8em;
        &:nth-child(1){
          background: #04398F;
        }
        &:nth-child(2){
          background: #0541A1;
        }
        &:nth-child(3){
          background: $color_blue_1;
        }
        &:nth-child(4){
          background: #075AE0;
        }
        &:nth-child(5){
          background: #0866FF;
        }
        &:nth-child(6){
          background: #307eff;
        }
        .image{
          margin-top: -6em;
          margin-bottom: 6em;
          min-height: 16.8em;
        }
        .name{
          margin-bottom: 1em;
          font-weight: bold;
        }
      }
    }
  }
  &-about-join{
    padding: 8em 0 4.5em;
    &-text{
      text-align: center;
      margin-bottom: 5em;
      .text{
        margin-top: 1.5em;
      }
    }
    &-all{
      background: $color_white;
      text-align: center;
      line-height: 6.2em;
      margin-top: 2em;
    }
  }
}
@media(max-width: 1500px) {
  .section-about-develop-list_item{
    padding: 0 3em 4em;
    .image{
      min-height: 50px;
      margin-top: -4em;
      margin-bottom: 4em;
      img{
        height: 12em;
      }
    }
  }
}
@media(max-width: 1120px) {
  .section-about-head{
    padding-top: 20em;
    padding-bottom: 20em;
  }
}
@media(max-width: 940px) {
  .section{
    &-about-head{
      padding:15em 0;
    }
    &-about-develop{
      &-list_item{
        .image{
          img{
            height: 64px;
          }
        }
        padding: 0 3em 4em;
      }
    }
  }
}
@media (max-width: 767px){
  .section{
    &-about-content{
      .container{
        @include flex_wrap;
        padding: 0;
      }
      &-text,
      &-image{
        width: 100%;
        padding: 0;
      }
      &-text{
        padding: 0 3em;
      }
      &-image{
        img{
          margin-top: 0;
          margin-bottom: 4em;
          width: 100%;
        }
        &:before{
          bottom: -3em;
          width: 26em;
        }
        &:after{
          top: -7em;
          height: 14em;
          left: -16em;
        }
      }
    }
    &-about-develop{
      &-list{
        @include flex_wrap;
      }
      &-list_item{
        width: 100%;
        padding-top: 4em;
        padding-left: 110px;
        .image{
          position: absolute;
          width: 110px;
          text-align: center;
          top:50%;
          left:-110px;
          margin-top: -32px;
        }
      }
    }
  }
}
