.section-careers{
  padding: 6em 0 9em;
  &-list{
    margin-top: 4em;
    margin-bottom: 8em;
    &:last-child{
      margin-bottom: 0;
    }
    &_item{
      background: $color_white;
      margin-top: 2em;
      padding: 4.5em 5em;
      @include block_flex;
      @include flex_justify_between;
      @include flex_align_item_center;
      color: $color_black;
      .town{
        font-size: 1.6em;
        font-weight: normal;
        color: $color_text;
        white-space: nowrap;
      }
      .icon-next{
        margin-left: 2em;
      }
    }
  }
  &-filter{
    background: $color_white;
    padding: 4em;
    text-align: center;
    .link{
      color: $color_black;
      opacity: 0.5;
      border-bottom: 3px solid transparent;
      font-size: 2em;
      margin: 0.2em 0.5em;
      padding:0.2em 0.3em;
      &:hover{
        opacity: 0.99;
      }
      &.active{
        opacity: 0.99;
        border-color:$color_blue_1;
      }
    }
  }
  &-filter-dropdown{
    display: none;
    font-size: 2em;
    .href-dropdown{
      background: $color_white;
      @include flex_justify_between;
      @include flex_align_item_center;
      @include block_flex;
      width: 100%;
      padding: 1em 1.5em;
      color: $color_black;
      font-family: $font_family_bold;
      .caret{
        color: $color_blue_1;
      }
    }
    .menu-dropdown{
      width: 100%;
      margin-top: 0;
      max-height: 180px;
      overflow-y: auto;
      .link{
        padding: 1em 1.5em;
      }
    }
  }
  &-position{
    background: $color_white;
    .container{
      @include block_flex;
      @include flex_justify_between;
      padding-left: 1em;
    }
    &-content{
      &_left{
        width: 66.66%;
        padding: 6.5em 5em 7em;
        overflow: hidden;
      }
      &_right{
        max-width: 33.33%;
        width: 320px;
        padding-top:6em;
        padding-bottom: 2em;
        h4{
          font-weight: bold;
          margin-bottom: 0.75em;
        }
      }
      &_text{
        margin-bottom: 6em;
        h2{
          margin-bottom: 0.5em;
        }
        b{
          font-family: $font_family_bold;
        }
        ul{
          li{
            position: relative;
            padding-left: 15px;
            &+li{
              margin-top: 0.5em;
            }
            &:after{
              width: 6px;
              height: 6px;
              border-radius: 50%;
              content: '';
              left:0;
              top:0.875em;
              margin-top: -3px;
              position: absolute;
              background: $color_blue_1;
            }
          }
        }
      }
      &_button{
        @include block_flex;
        @include flex_justify_between;
        @include flex_align_item_center;
        .btn{
          min-width: 15em;
        }
      }
      &_social{
        margin-bottom: 6em;
        a{
          width: 30px;
          height: 30px;
          line-height: 30px;
          border-radius: 50%;
          margin-right:5px;
          display: inline-block;
          vertical-align: top;
          background: $color_blue_1;
          color: $color_white;
          text-align: center;
          overflow: hidden;
          span{
            width: 100%;
            height: 100%;
            display: block;
          }
        }
        .fb{
          background: url("../images/share/share-fb.svg") no-repeat center;
        }
        .in{
          background: url("../images/share/share-in.svg") no-repeat center;
        }
        .tw{
          background: url("../images/share/share-tw.svg") no-repeat center;
        }
        .mail{
          background: url("../images/share/share-mail.svg") no-repeat center;
        }
      }
    }
    &-other{
      padding: 1em 0 2em;
      .town{
        font-size: 1.6em;
        margin-bottom: 0.5em;
      }
      .name{
        font-size: 0.8em;
      }
      .link-path{
        padding-right: 0;
        &:after{
          display: none;
        }
        span{
          position: relative;
          padding-right: .75em;
          &:after{
            width: 4px;
            height: 4px;
            @include web_transform(rotate(-45deg));
            border-right: 2px solid $color_blue_1;
            border-bottom: 2px solid $color_blue_1;
            position: absolute;
            content: '';
            bottom: 0.5em;
            margin-bottom: -2px;
            right: 0;
          }
        }
      }
    }
    &_send{
      background: $color_blue_1;
      color: $color_white;
      padding: 3.5em 4em;
      margin-bottom: 4em;
      text-align: center;
      line-height: 1.75;
      p{
        font-size: 1.6em;
      }
      .link{
        font-size: 2em;
        color: $color_white;
        font-weight: bold;
      }
      .send{
        margin: 2em 0 4em;
        .btn{
          margin: 0;
        }
      }
    }
    &_cat{
      background: #F3F4F9;
      padding: 3.5em 4em;
    }
  }
}
@media(max-width: 940px) {
  .section-careers{
    padding-top: 4em;
    padding-bottom: 3em;
    h2{
      font-size: 2.575em;
    }
    &-list{
      margin-top: 3em;
      margin-bottom: 5em;
    }
    &-list_item{
      padding: 2.5em;
      h4{
        font-size: 2em;
      }
      .icon-plus{
        width: 16px;
        height: 16px;
      }
    }
    &-filter{
      display: none;
    }
    &-filter-dropdown{
      display: block;
    }
    &-position{
      .container{
        @include flex_wrap;
        position: relative;
        padding: 0;
      }
      &-content{
        &_left,&_right{
          width: 100%;
          padding: 0;
        }
        &_left{
          padding: 3em;
        }
        &_right{
          padding: 0;
          max-width: 100%;
        }
        &_button{
          display: none;
        }
      }
      &_send{
        margin-bottom: 0;
      }
      &_cat{
        padding-left: 3em;
        padding-right: 3em;
      }
    }
  }

}
@media (max-width: 520px){
  .section-careers-list_item{
    display: block;
    position: relative;
    .name{
      font-weight: bold;
    }
    .town{
      margin-top: 1em;
    }
    .flag{
      height: 10px;	width: 14px;
    }
    .icon-next{
      position: absolute;
      right: 2em;
      border-color: $color_blue_1;
      width: 8px;
      height: 8px;
      top: 50%;
      margin-top: -6px;
    }
  }
}