.section{
  &-contact{
    padding: 12em 0 16em;
    &-text{
      width: 42%;
      padding-right: 6em;
      position: relative;
      .title{
        margin-bottom: 5em;
      }
      .link{
        color: $color_text-small;
        font-size: 2em;
        line-height: 35px;
        display: block;
        margin-top: 1em;
        a{
          color: $color_text-small;
        }
        .icon{
          margin-right: 8px;
        }
      }
      &:after{
        position: absolute;
        width: 30em;
        height: 36em;
        opacity: 0.3;
        right: -5em;
        background: url("../images/point-blue.png") repeat;
        content: '';
        z-index: 1;
        top: 100%;
        margin-top: -15em;
      }
    }
    &-map{
      position: absolute;
      left:42%;
      width: 58%;
      top:0;
      height: 100%;
      background: $color_blue_1;
      overflow: hidden;
      .map{
        width: 100%;
        height: 100%;
      }
    }
  }
}
@media(max-width: 940px) {
  .section{
    &-contact{
      padding: 4em 0 0;
      &-text{
        width: 100%;
        padding-bottom: 3em;
        .title{
          margin-bottom: 3em;
        }
        &:after{
          display: none;
        }
      }
      &-map{
        position: relative;
        width: 100%;
        left:0;
        height: 45em;
      }
    }
  }
}