.section{
  &-subscribe{
    border-top:1px solid $border_color_2;
    background: $color_white;
    padding: 10em 0;
    overflow: hidden;
    .container{
      @include block_flex;
      @include flex_justify_between;
      @include flex_align_item_end;
    }
    &-text{
      width: 50%;
      padding-right: 3em;
      .text{
        max-width: 470px;
      }
    }
    &-form{
      width: 50%;
      padding-left: 3em;
      position: relative;
      &:before{
        width: 100%;
        height: 21.5em;
        bottom: 100%;
        left: -20%;
        position: absolute;
        content: '';
        background: url("../images/point-blue.png") repeat;
        opacity: 0.3;
        max-height: 177%;
        display: none;
      }
      .form{
        padding-top: 4em;
        @include block_flex;
        @include flex_justify_between;
        &-btn{
          margin-top: 0;
          margin-left: 3em;
        }
        &-group{
          width: 100%;
          margin-bottom: 0;
        }
      }
    }
  }
}
@media(max-width: 940px) {
  .section{
    &-subscribe{
      .container{
        @include flex_column;
      }
    }
    &-subscribe{
      padding: 6em 0 8em;
      &-text,
      &-form{
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        .form{
          padding-top: 2em;
          @include flex_column;
          &-btn{
            margin-left: 0;
            margin-top: 2em;
            .btn{
              max-width: 20em;
            }
          }
        }
      }
    }
  }
}