<div class="modal fade" tabindex="-1" role="dialog" id="menu">
    <div class="modal-menu" role="document">
        <div class="modal-menu-content">
            <div class="modal-menu-form">
                <div class="section-text">
                    <div class="image"><img src="images/email.svg" alt=""></div>
                    <div class="title"><h2>Get the latest news!</h2></div>
                    <div class="text">
                        We will let you know when we are ready to launch,
                        so that you can be among the first to reap the benefits!
                    </div>
                </div>
                {% include "blocks/subscribe/_form.html" %}
            </div>
            <div class="modal-menu-links">
                {% include "blocks/navigate/_nav.html" %}
                <div class="modal-menu-links-subscribe">
                    <a data-toggle="modal"  data-dismiss="modal" data-target="#send" class="btn btn-border"><span class="border"></span>Join us<span class="border"></span></a>
                </div>
                 <div class="modal-menu-links-follow">
                     Follow us &mdash; <a class="link">Facebook</a> <a class="link">Linkedin</a> <a class="link">Twitter</a>
                 </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->