<div class="modal fade" tabindex="-1" role="dialog" id="send">
    <div class="container">
        <button type="button" class="btn close" data-dismiss="modal" aria-label="Close"><span class="icon-bar"></span><span class="icon-bar"></span></button>
    </div>
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-body">
                    <div class="section-text">
                        <div class="image"><img src="images/resume.svg" alt=""></div>
                        <div class="title"><h2>Send your resume</h2></div>
                    </div>
                <div class="modal-form-send">
                    <form class="form">
                        <div class="form-row">
                            <div class="form-row-cell_half ">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="First and last name">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your e-mail">
                                </div>
                            </div>
                            <div class="form-row-cell_half">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Linkedin profile link (not necessary)">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Phone number or Skype">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Cover letter"></textarea>
                        </div>
                        <div class="form-btn">
                            <div class="form-row">
                                <div class="form-row-cell_half ">
                                    <div class="form-group">
                                        <div class="box-inputfile">
                                            <input type="hidden" name="ResumeFile[file]" value=""><input type="file" id="file-7" class="inputfile inputfile-6 vacancy-resume" name="ResumeFile[file]" accept="application/msword,text/plain,application/pdf,text/rtf" data-multiple-caption="{count} files selected">

                                            <label for="file-7">
                                               <span>
                                                   <p class="no-select">Pin your resume</p>
                                                   <small>PDF, DOC file not more than 3 mb.</small>
                                               </span>
                                                <strong>
                                                    <i class="icon icon-attachment"></i>
                                                </strong>
                                            </label>
                                        </div>
                                        <div class="box-inputfile">
                                            <input type="hidden" name="ResumeFile[file]" value=""><input type="file" id="file-7" class="inputfile inputfile-6 vacancy-resume" name="ResumeFile[file]" accept="application/msword,text/plain,application/pdf,text/rtf" data-multiple-caption="{count} files selected">

                                            <label for="file-7">
                                               <span>
                                                   <p class="no-select">Pin your resume</p>
                                                   <small class="error">Invalid file format</small>
                                               </span>
                                                <strong>
                                                    <i class="icon icon-attachment"></i>
                                                </strong>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row-cell_half ">
                                    <div class="form-group text-right">
                                        <button type="submit" class="btn btn-control">
                                            Send
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->