<section class="section section-about-develop">
    <h2>We are developing great financial products</h2>
    <div class="section-about-develop-list">
        <div class="section-about-develop-list_item">
            <div data-aos="fade-up">
            <div class="image"><img src="images/about/trade.svg" alt=""></div>
            <div class="name"><h4>Exchange</h4></div>
            <div class="text">Secure, highly-efficient, crypto-asset exchange, with a HEX-concept architecture.</div>
            </div>
        </div>
        <div class="section-about-develop-list_item">
            <div data-aos="fade-up" data-aos-delay="200">
            <div class="image"><img src="images/about/gift.svg" alt=""></div>
            <div class="name"><h4>SociumGift</h4></div>
            <div class="text">Suprise people with custom
                gift cards, loaded with crypto assets.</div>
            </div>
        </div>
        <div class="section-about-develop-list_item">
            <div data-aos="fade-up" data-aos-delay="400">
            <div class="image"><img src="images/about/lend.svg" alt=""></div>
            <div class="name"><h4>SociumLend</h4></div>
            <div class="text">Give and receive loans using crypto-assets as collateral.</div>
            </div>
        </div>
        <div class="section-about-develop-list_item">
            <div data-aos="fade-up" data-aos-delay="600">
            <div class="image"><img src="images/about/chat.svg" alt=""></div>
            <div class="name"><h4>SociumChat</h4></div>
            <div class="text">Connect with professionals using an effciient, integrated chat-tool.</div>
            </div>
        </div>
        <div class="section-about-develop-list_item">
            <div data-aos="fade-up" data-aos-delay="600">
            <div class="image"><img src="images/about/echange.svg" alt=""></div>
            <div class="name"><h4>SociumChat</h4></div>
            <div class="text">Connect with professionals using an effciient, integrated chat-tool.</div>
            </div>
        </div>
    </div>
</section>

