<section class="section section-about-join">
    <div class="container">
        <div class="section-about-join-text" data-aos="fade-up">
            <h2>Join to team of experts from around the world!</h2>
            <div class="text">Let's create a financial future together!</div>
        </div>
        <div data-aos="fade-up">
        {% include "blocks/careers/_position-item.html" %}
        </div>
        <div class="section-about-join-all" data-aos="fade-up">
            <a class="link link-path" href="careers.html">All positions</a>
        </div>
    </div>
</section>

