<section class="section section-page-head section-about-head" style="background-image: url('images/bg-jobs.jpg')">
    <div class="container">
        <h1>
            <span data-aos="fade" class="slide-bg" data-aos-delay="300">Want to join the team?</span>
        </h1>
        <div class="text">
            We are looking for talented people. To create a great financial product.
            <div class="text-link"><a href="mailto:hr@sociumtrade.com">hr@sociumtrade.com</a></div>
        </div>
    </div>
</section>

