<section class="section section-about-content" >
    <div class="container">
        <div class="section-about-content-image" data-aos="fade-right">
            <img src="images/about/team-photo.jpg" alt="">
        </div>
        <div class="section-about-content-text">
            <div class="section-text ">
                <div class="title slide-bg" data-aos="fade">
                    <h2>We are SociumTrade</h2>
                </div>

                <div class="text" >
                    <p data-aos="fade-up">
                        We see a future in which financial markets are made up of individuals engaged in free trade; a future, in which big institutions no longer are the gatekeepers and everyone can interact directly with one another. We see security and transparency becoming the cornerstones of every transaction, and individuals taking control of their financial futures.
                    </p>
                </div>
                <div class="fraze" data-aos="fade-up">
                    We are developing SociumTrade
                    to be the tool that begins to realize that vision
                </div>
            </div>
        </div>
    </div>
</section>

