.btn{
  font-size: 14px;
  text-align: center;
  font-family: $font_family_bold;
  padding:10px;
  line-height: normal;
  border-radius: 5px;
  position: relative;
  border:1px solid;
  &-sm{
    font-size: 12px;
  }
  &-full{
    width: 100%;
  }
  &.disabled,
  &:disabled{
    background: #e0e0e5;
    color:$color_gray_1;
  }

  &-border{
    font-size: 2em;
    min-width: 10em;
    padding: 0.75em;
    border:3px solid $color_blue_1;
    border-left:0;
    border-right: 0;
    font-family: $font_family_bold;
    color: $color_white;
    border-radius: 5px;
    .border{
      font-size: 0.5em;
      position: absolute;
      width: 3.6em;
      height: 110%;
      border-radius: 5px;
      border-bottom:3px solid $color_blue_1;
      top:-2px;
      @include web_transition(border .2s ease-in-out);
      &:after{
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        border-bottom:3px solid $color_blue_1;
        content: '';
        top:3px;
        left:-2px;
        @include web_transition(border .2s ease-in-out);
        @include web_transform(rotate(60deg));
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
      &:first-child{
        @include web_transform(rotate(60deg));
        left:1px;
      }
      &:last-child{
        @include web_transform(rotate(-60deg));
        right: 0;
        &:after{
          @include web_transform(rotate(-60deg));
          left:1px;
        }
      }
    }
    &:after{
      width: 96%;
      background: transparent;
      height: 3px;
      content: '';
      position: absolute;
      top:100%;
      left:2%;
      @include web_transition(background .2s ease-in-out);
    }
    &:hover{
      color: $color_white;
      &:after{
        background: #17a2f5;
      }
      //.border{
      //  border-color: $color_white;
      //  &:after{
      //    border-color: $color_white;
      //  }
      //}
    }
  }
  &-control{
    border: 0;
    border-radius: 0;
    border-bottom: 3px solid $color_blue_1;
    font-size: 2em;
    color: $color_text;
    padding: 0.85em 0;
    height: 3.1em;
    min-width: 11.35em;
    text-align: left;
    background: url("../images/arrow_subscribe.svg") no-repeat center right;
    &:hover{
      color: $color_blue_1;
    }
  }
  &-full-white,
  &-full-blue{
    background: $color_blue_1;
    color: $color_white;
    font-size: 2em;
    padding: 0 1em;
    margin: 0 0.75em;
    height: 3em;
    line-height: 3em;
    border: 0;
    border-radius: 5px;
    @include web_transition(background .2s ease-in-out);
    &:after,
    &:before{
      width: 1.9em;
      height: 100%;
      border-radius: 5px;
      background: $color_blue_1;
      content: '';
      position: absolute;
      top:0;
      left:0;
      @include web_transition(background .2s ease-in-out);
    }
    &:before{
      @include web_transform(rotate(-60deg));
    }
    &:after{
      @include web_transform(rotate(60deg));
    }
    &:hover{
      background: $color_blue_2;
      &:after,&:before{
        background: $color_blue_2;
      }
      .border{
        background: $color_blue_2;
        &:after,&:before{
          background: $color_blue_2;
        }
      }
    }
    .name{
      z-index: 1;
      position: relative;
    }
    .border{
      position: absolute;
      width: 1.9em;
      height: 100%;
      top:0;
      right: 0;
      background: $color_blue_1;
      @include web_transition(background .2s ease-in-out);
      border-radius: 5px;
      &:after,
      &:before{
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background: $color_blue_1;
        content: '';
        position: absolute;
        top:0;
        left:0;
        @include web_transition(background .2s ease-in-out);
      }
      &:before{
        @include web_transform(rotate(-60deg));
      }
      &:after{
        @include web_transform(rotate(60deg));
      }
    }
  }
  &-full-white{
    background: $color_white!important;
    border-color: $color_white!important;
    color: $color_blue_1;
    &:after,&:before{
      background: $color_white!important;
    }
    .border{
      background: $color_white!important;
      &:after,&:before{
        background: $color_white!important;
      }
    }
    &:hover{
      color:#17a2f5;
    }
  }
}
.link{
  display: inline-block;
  vertical-align: top;
  position: relative;
  &-underline{
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
  &-more{
    font-size: 2em;
    font-family: $font_family_bold;
    color: $color_blue_1;
  }
  &-path{
    font-size: 2.3em;
    font-family: $font_family_bold;
    color: $color_text;
  }
  &-more,
  &-path{
    padding-right: 0.75em;
    &:after{
      width: 4px;
      height: 4px;
      @include web_transform(rotate(-45deg));
      border-right: 2px solid $color_blue_1;
      border-bottom: 2px solid $color_blue_1;
      position: absolute;
      content: '';
      top:50%;
      margin-top: -1px;
      right: 0;
    }
    &:hover{
      color: #15161C;
      //&:after{
      //  border-color: #15161C;
      //}
    }
    &.white{
      color: $color_white;
      &:after{
        border-color: $color_white;
      }
    }
  }
}