.modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  &.fade{
    opacity: 0;
    filter: alpha(opacity=0);
    @include web_transition(opacity .3s linear);
    .modal-dialog{
      @include web_transform(scale(0));
      @include web_transition(transform .3s ease-out);
    }
  }
  &.in{
    opacity: 1;
    filter: alpha(opacity=100);
    .modal-dialog{
      @include web_transform(scale(1));
    }
  }
  &-open{
    overflow: hidden;
    .modal{
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
  &-backdrop{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: $bg_cur;
    &.fade{
      filter: alpha(opacity=0);
      opacity: 0;
    }
    &.in{
      filter: alpha(opacity=90);
      opacity: .9;
    }
  }
  &-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
  }
  &-dialog{
    position: relative;
    width: auto;
    padding: 16em 3em 3em;
    &-video{
      height: 100%;
      padding-bottom: 14em;
    }
  }
  &-content{
    background: $color_white;
    position: relative;
    max-width: 69em;
    margin: 0 auto;
    outline: 0;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  &-body{
    padding: 7em 3em 9em;
    position: relative;
    &-form{
      max-width: 480px;
      margin: 0 auto;
      .form{
        margin-top: 6em;
        &-btn{
          margin-top: 1em;
        }
      }
    }
    .title{
      @include block_flex;
      @include flex_align_item_center;
      margin-bottom: 1em;
    }
    .text{
      font-family: $font_family;
    }
  }
  &-btn{
    margin-top: 35px;
  }
  .close{
    background: transparent;
    width:3.6em;
    height: 6em;
    border-radius: 5px;
    padding: 1.75em 0;
    line-height: 3px;
    border-left: 0;
    border-right: 0;
    position: absolute;
    right: 0;
    top: 0;
    margin-left: 15px;
    margin-right:7.5em;
    margin-top:5em;
    border-top: 3px solid $color_blue_1;
    border-bottom: 3px solid $color_blue_1;
    z-index: 1;
    font-size: 1em;
    min-width: 26px;
    &:after,
    &:before{
      width: 100%;
      height: 110%;
      border-radius: 5px;
      content: '';
      position: absolute;
      top:-3px;
      left:0;
      border-top: 3px solid $color_blue_1;
      border-bottom: 3px solid $color_blue_1;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-text-size-adjust: none;
    }
    &:after{
      @include web_transform(rotate(60deg));
    }
    &:before{
      @include web_transform(rotate(-60deg));
    }
    .icon-bar{
      height: 3px;
      width: 26px;
      background: $color_white;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      z-index: 1;
      &:first-child{
        @include web_transform(translateY(3px) rotate(45deg));
      }
      &:last-child{
        @include web_transform(translateY(-5px) rotate(-45deg));
      }
      &+.icon-bar{
        margin-top: 5px;
      }
    }
    &:hover{
      @include web_transform(rotate(180deg));
      @include web_transition(all .2s ease-in-out);
    }
  }
  &-menu{
    width: 100%;
    height: 100%;
    background: url("../images/bg-menu.png") no-repeat center $bg_footer;
    background-size: cover;
    &-content{
      min-height: 100%;
      @include block_flex;
      @include flex_justify_between;
    }
    &-form{
      width: 69em;
      max-width: 50%;
      background: $color_white;
      padding: 0 10em;
      @include flex_column;
      @include flex_justify_end;
      @include block_flex;
      min-height: 100%;

      .form{
        margin-top: 6em;
        &-btn{
          margin-top: 1em;
        }
      }

    }
    &-links{
      max-width: 50%;
      text-align: right;
      padding: 0 10em;
      min-height: 100%;
      @include flex_column;
      @include flex_justify_between;
      @include block_flex;
      ul{
        font-size: 5em;
        font-family: $font_family_title;
        margin-bottom: 0.5em;
        li{
          margin-bottom: 0.5em;
          a{
            opacity: 0.6;
            color: $color_white;
            &:hover{
              opacity: 0.99;
            }
          }
          &.active{
            a{
              opacity: 0.99;
            }
          }
        }
      }
      &-follow{
        font-size: 2em;
        color: $color_white;
        font-family: $font_family_bold;
        a{
          opacity: 0.6;
          margin-left: 0.25em;
          font-family: $font_family;
          color: $color_white;
          &:hover{
            opacity: 0.99;
          }
        }
      }
      &-subscribe{
        display: none;
        font-size: 10px;
        margin-top: 5em;
        margin-bottom: 3em;
      }
    }
    &-links,
    &-form{
      padding-top: 15em;
      padding-bottom: 9.5em;
    }
  }
  &.fade{
    .modal-menu{
      &-form{
        @include web_transform(translate(-100%,0));
        @include web_transition(transform .5s ease-out 0.2s);
      }
      &-links{
        @include web_transform(translate(100%,0));
        @include web_transition(transform .2s ease-out);
      }
    }
  }
  &.in{
    .modal-menu{
      &-form,
      &-links{
        @include web_transform(translate(0,0));
      }
    }
  }
  &-video{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 118em;
  }
  &-team{
    max-width: 102em;
    width: 100%;
    margin: 0 auto;
    background: $color_white;
    &-content{
      @include block_flex;
      &-image{
        width: 42%;
      }
      &-text{
        width: 58%;
        padding: 3em 4em 7em;
        position: relative;
        .text{
          font-size: 1.6em;
          line-height: 1.5;
          margin-top: 1.25em;
        }
        .position{
          font-size: 2em;
          font-family: $font_family_title;
          font-style: italic;
          margin-top: 0.5em;
        }
        .links{
          position: absolute;
          padding-left:inherit;
          padding-bottom: 4em;
          left:0;
          bottom:0;
          a{
            font-size: 1.6em;
            line-height: 20px;
            margin-right: 1.5em;
            .icon{
              background-color: $color_blue_1;
              width: 20px;
              height: 20px;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
  &-md{
    padding-left: 0;
    padding-right: 0;
    .modal-content{
      max-width: 106em;
      width: 100%;
      margin: 0 auto;
    }
    .modal-body{
      padding: 8em 10em;
    }
  }
  &-form-blue{
    background: $color_blue_1;
    color: $color_white;
    padding: 9em 10em;
    .text{
      margin-top: 1.5em;
    }
    .form{
      @include block_flex;
      @include flex_justify_between;
      margin-top: 4em;
      &-control{
        background: $color_blue_1;
        color: $color_white;
        border-bottom-color: rgba(19, 32, 51, 0.2);
        &::-webkit-input-placeholder{
          color: $color_white;
        }
        &:-moz-placeholder{
          color: $color_white;
        }
        &:-ms-input-placeholder{
          color: $color_white;
        }
        &:hover,&:focus{
          border-bottom-color: $color_blue_2;
        }
      }
      .btn-control{
        border-bottom-color: $color_white;
        color: $color_white;
        background-image: url("../images/arrow_subscribe_white.svg");
      }
      &-group{
        width: 100%;
        padding-right: 3em;
        margin: 0;
      }
      &-btn{
        margin: 0;
      }
    }
  }
  &-form-send{
    margin-top: 8em;
  }
}
#menu{
  padding-right: 0!important;
}
@media(max-width: 940px) {
  .modal{
    &-menu{
      min-height: 100%;
      height: auto;
      &-content{
        @include flex_column_reverse;
      }
      &-links{
        padding-bottom: 6em;
        text-align: center;
        ul{
          font-size: 3.6em;
        }
        &-subscribe{
          display: block;
        }

      }
      &-form,&-links{
        width: 100%;
        max-width: 100%;
        padding-left: 3em;
        padding-right: 3em;
      }
      &-form{
        padding-top: 6em;
        padding-bottom: 8em;
        display: none;
        .form{
          margin-top: 2em;
          &-btn{
            .btn{
              max-width: 20em;
            }
          }
        }
      }
    }
    background: $color_white;
    .close{
      border-color: $color_white;
      margin-right: 3em;
      margin-top: 2em;
      &:before,&:after{
        border-color: $color_white;
      }
      .icon-bar{
        background: $color_black;
      }
    }
    &-dialog{
      padding-top: 8em;
      &-video{
        padding-top: 10em;
        padding-bottom: 3em;
      }
    }
    &-body{
      padding: 0;
      .form{
        .btn-control{
          max-width: 20em;
        }
      }
    }
    &-video{
      max-width: 100%;
    }
    &-md{
      max-width: 100%;
      .modal-body{
        padding-top: 0;
      }
    }
  }
}
@media (max-width: 580px){
  .modal{
    &-md{
      .modal-body{
        padding-left: 3em;
        padding-right: 3em;
        padding-bottom: 3em;
      }
    }
    &-body{
      .title{
        img{
          max-width: 50px;
        }
      }
    }
    &-form-blue{
      padding: 4em 3em;
      &:last-child{
        margin-bottom: -3em;
      }
      .form{
        @include flex_column;
        margin-top: 2em;
        &-group{
          padding-right: 0;
          margin-bottom: 2em;
        }
      }
    }
    &-form-send{

    }
  }
}