.form{
  &-name{
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid $border_color_1;
    margin-bottom: 30px;
    padding-bottom: 10px;
  }
  &-group{
    margin-bottom: 20px;
    position: relative;
  }
  &-btn{
    margin-top: 3em;
  }
  &-text{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  &-control{
    background: $color_white;
    margin: 0;
    font-size: 2em;
    color: $color_text;
    outline: none;
    width: 100%;
    border:0;
    border-bottom: 3px solid $border_color_2;
    border-radius: 0;
    vertical-align: top;
    line-height: normal;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-clip: padding-box;
    padding: 0.85em 0;
    font-family: $font_family_light;
    height: 3.1em;
    &:disabled{
      background: $color_gray_1;
      color: $color_white;
    }
    &:focus,
    &:hover{
      border-color:$color_blue_1;
    }
    &::-webkit-input-placeholder{
      color: $color_gray_1;
    }
    &:-moz-placeholder{
      color: $color_gray_1;
    }
    &:-ms-input-placeholder{
      color: $color_gray_1;
    }
    &.error{
      border-color: $color_red_1;
    }
    &.valid{
      border-color: $color_green_1;
    }
    &.warning{
      border-color:$color_yellow_1;
    }
    &-btn{
      position: absolute;
      top:50%;
      @include web_transform(translateY(-50%));
      z-index: 1;
      left:0;
      &.right{
        left:inherit;
        right: 0;
      }
    }
  }
  &-row{
    @include block_flex;
    @include flex_justify_between;
    @include flex_wrap;
    &-cell_half{
      width: 45%;
    }
  }
}
textarea.form-control{
  resize: vertical;
  max-height: 300px;
  min-height: 110px;
}


.box-inputfile{
  position: relative;
}
.box-inputfile .inputfile{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile+ label{
  display: block;
  padding: 0.85em 0;
  font-family: $font_family_light;
  height: 3.1em;
  font-size: 2em;
  padding-left: 45px;
  color: $color_gray_1;
  cursor: pointer;
}
.inputfile:focus + label,
.inputfile.has-focus + label,
.inputfile+ label:hover {
  color: $color_text;
}
.inputfile + label .no-select{
  text-decoration: underline;
}
.inputfile + label small{
  font-size:0.7em;
  opacity: 0.5;
}
.inputfile + label .error{
  color: $color_red_1;
  opacity: 1;
}
.inputfile + label span{
  width: 100%;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: $color_gray_1;
  vertical-align: top;
  font-size: 1em;
  position: relative;
}
.inputfile + label strong {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -20px;
}
.inputfile + label .selected{
  color: $color_text;
  position: relative;
  width: auto;
  max-width: 100%;
  padding-right: 25px;
  &:after{
    content: '';
    width: 19px;
    height: 19px;
    position: absolute;
    right: 0;
    top:50%;
    margin-top: -8px;
    background: url("../images/icon/cross.png") no-repeat center;
  }
}
@media (max-width: 580px){
  .form-row-cell_half{
    width: 100%;
  }
}