.section{
  position: relative;
  &-intro-link-follow {
    font-family: $font_family_bold;
    font-size: 2em;
    line-height: 1.75em;
    color: #fff;
    a {
      opacity: .6;
      font-family: $font_family;
      color: #fff;
      margin-left: .25em;
    }
  }
  &-text{
    .image{
      margin-bottom: 3em;
    }
    .sub-title{
      font-size: 1.4em;
      font-family: $font_family_bold;
      text-transform: uppercase;
      margin-bottom: 2em;
    }
    .title{
      margin-bottom: 2em;
      max-width: 640px;
    }
    .fraze{
      max-width: 770px;
      padding-left: 25px;
      border-left: 5px solid $color_blue_1;
      font-size: 3em;
      font-family: $font_family_title;
      line-height: 1.25;
      font-style: italic;
      margin-top: 1.25em;
      min-height: 70px;
      padding-top: 0.25em;
      padding-bottom: 0.4em;
      @include block_flex;
      @include flex_align_item_center;
    }
    .text{
      max-width: 640px;
      margin-top: 1.5em;
    }
    .more{
      margin-top: 3em;
    }
  }
  &-page{
    &-head{
      min-height: 62em;
      background: url('../images/bg-menu.png') no-repeat center $bg_footer;
      background-size: cover;
      color: $color_white;
      @include block_flex;
      @include flex_align_item_end;
      padding: 20em 0 8em;
      .container{
        @include block_flex;
        @include flex_align_item_end;
        @include flex_justify_between;
      }
      .info{
        font-size: 1.6em;
        margin-bottom: 1em;
        &_item+.info_item{
            border-left: 1px solid rgba(230, 235, 243, 0.5);
            padding-left: 0.8em;
            margin-left: 0.75em;
        }
      }
      &.center{
        padding: 14em 0;
        text-align: center;
        @include flex_align_item_center;
        .container{
          display: block;
        }
      }
    }
    &-content{
      padding:13em 0;
      background: $color_white;
      .text,
      .title{
        max-width: 100%;
      }
      .container{
        @include block_flex;
        @include flex_justify_between;
        @include flex_align_item_end;
      }
      &-text{
        max-width: 50%;
        padding-right: 6em;
        &.long{
          max-width: 60%;
          padding-right: 2em;
          &+.section-page-content-fraze{
            max-width: 40%;
          }
        }
      }
      &-fraze{
        max-width: 50%;
        position: relative;
        padding-left: 6em;
        &:before{
          position: absolute;
          width: 110%;
          max-width: 76em;
          height: 100%;
          top: 14%;
          opacity: 0.3;
          right: 20%;
          background: url("../images/point-blue.png") repeat;
          content: '';
        }
        &-bg{
          background: $color_blue_1;
          padding:6em;
          min-height: 46.5em;
          @include block_flex;
          @include flex_justify_end;
          @include flex_column;
          color: $color_white;
        }
        .fraze{
          border-color: $color_white;
          position: relative;
          z-index: 2;
          color: $color_white;
        }
        .text{
          margin-top: 0;
        }
      }
    }
  }
}
@media(max-width: 1120px) {
  .section{
    &-page-head{
      min-height: 46em;
    }
  }
}
@media(max-width: 940px) {
  .section{
    &-text{
      .fraze{
        font-size: 2em;
        padding-left: 15px;
        min-height: 50px;
      }
      .image{
        width: 62px;
      }
      .text,
      .title{
        max-width: none;
      }
    }


    &-page-head{
      min-height: 27em;
      padding-top: 15em;
      padding-bottom: 3em;
      &.center{

      }
    }
    &-page-content{
      padding: 4em 0 0;
      .container{
        @include flex_column;
        padding: 0;
      }
      &-text,&-fraze,&-text.long{
        max-width: 100%!important;
        width: 100%;
      }
      &-text{
        padding: 0 3em;
      }
      &-fraze{
        margin-top: 3em;
        padding: 0;
        &:before{

        }
        &-bg{
          min-height: 10em;
          padding: 3em;
          .fraze{
            &:first-child{
              margin-top: 0;
            }
          }
        }
      }
    }
  }

}

@media (max-width: 767px){
  .section{

  }
}
@media (max-width: 480px){
  .section-page-head{
    .container{
      @include flex_column;
      @include flex_align_item_start;
    }
  }
}
