<section class="section section-contact" data-midnight="dark">
    <div class="container">
        <div class="section-contact-text">
            <div class="title"  data-aos="fade-up"  data-aos-delay="100">
                <h2>If you have any questions, please contact us!</h2>
            </div>
            <div class="link"  data-aos="fade-up"  data-aos-delay="200">
                <a href="mailto:info@sociumtrade.com" target="_blank"><i class="icon icon-email"></i>info@sociumtrade.com</a>
            </div>
            <div class="link"  data-aos="fade-up"  data-aos-delay="300">
                <a href="tel:+370 693 92 010" target="_blank"><i class="icon icon-phone"></i> +370 693 92 010</a>
            </div>
            <div class="link"  data-aos="fade-up"  data-aos-delay="400">
                <i class="icon icon-address"></i>Vilnius, Konstitucijos g. 15
            </div>
        </div>
    </div>
    <div class="section-contact-map" data-aos="fade-left" data-aos-duration="300">
        <div class="map">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A64727051e824d886da06b559604d303bb519ea70c6ad1d456a10cb2f2723ad8f&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>
    </div>
</section>

