<section class="section section-page-head" style="background-image: url('images/bg-contact.jpg')">
    <div class="container">
        <h1 data-aos="fade" class="slide-bg" data-aos-delay="300">Contact us</h1>
        <div class="section-intro-link-follow"   data-aos="fade-up">
            Follow us &mdash; <a class="link">Facebook</a> <a class="link">Linkedin</a> <a class="link">Twitter</a>
        </div>
    </div>
</section>

