<footer class="footer">
    <div class="container">
        <div class="footer-logo"><img src="images/logo-white.svg" alt=""></div>
        <div class="footer-copy">©2018 Sociumtrade, All rights reserved</div>
        <div class="footer-partner-image"><a target="_blank" href="https://asseco.com"><img src="images/asseco-logo.svg" alt="Asseco"></a></div>
        <div class="footer-partner">In partnership with the <a target="_blank" href="https://asseco.com">Asseco</a></div>
        <div class="footer-text">
            <p>All trademarks, logos and brands are property of their respective owners.</p>
            <p>All company, product and service names used in this website are for identification purposes only.</p>
        </div>
        <div class="footer-text down">
            Responsible Disclosure Policy for Security Researchers
        </div>
    </div>
</footer>