.cur-index{
  background: $bg_footer;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  padding: 1em 0;
  @include block_flex;
  @include flex_justify_between;
  &-item{
    font-size: 1.6em;
    padding: 0 1.25em;
    color: $color_white;
    height: 3.125em;
    @include block_flex;
    @include flex_justify_between;
    @include flex_align_item_center;
    width: 100%;
    &+&{
      border-left: 1px solid $border_color_3;
    }
    .name{
      font-family: $font_family_bold;
      line-height: 1;
    }
    .chart{
      width: 5.75em;
      height: 2em;
      img{
        vertical-align: middle;
      }
    }
    &-chart{
      margin: 0 0.5em;
    }
    &-percent{
      font-size: 1.25em;
      font-family: $font_family_bold;
      text-align: right;
      line-height: 1.1;
      .cur{
        font-size: 0.6em;
        font-family: $font_family;
      }
    }
  }
}
.currencies{
  top:0;
  left: 0;
  width: 100%;
  background: $bg_cur;
  z-index: 1;
  //height: 50px;
  //line-height: 50px;
  /*@include block_flex;
  flex-wrap: nowrap;
  flex-direction: row;*/
  white-space: nowrap;
  overflow: hidden;
  &-scroll{
    display: inline-block;
    width: auto;
  }
  &-line{
    overflow: hidden;
  }
  &-item{
    padding: 1em 1.25em;
    line-height: 1.15;
    font-size: 1.6em;
    color: $color_white;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    &+&{
      border-left: 1px solid $border_color_3;
    }
    @include block_flex;
    @include flex_justify_around;
    @include flex_align_item_center;
    /*display: inline-block;
    vertical-align: top;*/
    display: block;
    float: left;
    &:hover{
      background: $bg_hover;
    }
    .cur{
      opacity: 0.5;
      margin-left: 0.25em;
    }
    .name{
      font-family: $font_family_bold;
    }
    .value{
      margin: 0 1em;
      text-align: center;
    }
    .icon{
      vertical-align: middle;
      margin-top: -2px;
      margin-right: 5px;
      opacity: 0.5;
      width: 1em;
      height: 1em;
    }
  }
}
@media(max-width: 1680px) {
  .currencies{
    &-item{
      font-size: 12px;
    }
  }
}
@media(max-width: 1280px) {
  .currencies{
    white-space: normal;
    &-item{
      font-size:12px;
      padding-top: 0.75em;
      padding-bottom: 1.75em;
      text-align: center;
      @include flex_justify_center;
      .value{
        position: absolute;
        width: 100%;
        left: 0;
        display: block;
        bottom: 0.5em;
        text-align: center;
        margin: 0;
      }
      //.percent{
      //  margin-left: 0.25em;
      //}
    }
  }
}
@media (max-width: 1024px){
    .cur-index{
      width: 100%;
      overflow-x: scroll;
      overflow-y: hidden;
    }
}