<div class="cur-index">
    <div class="cur-index-item">
        <div class="cur-index-item-info"><div class="name">Nasdaq</div>12893.24</div>
        <div class="cur-index-item-chart"><div class="chart"><img src="images/chart.jpg" alt=""></div></div>
        <div class="cur-index-item-percent green">+1.38%<div class="cur">+1283.90</div></div>
    </div>
    <div class="cur-index-item">
        <div class="cur-index-item-info"><div class="name">Russell 2000</div>12893.24</div>
        <div class="cur-index-item-chart"><div class="chart"><img src="images/chart.jpg" alt=""></div></div>
        <div class="cur-index-item-percent red">-12.38%<div class="cur">-1283.90</div></div>
    </div>
    <div class="cur-index-item">
        <div class="cur-index-item-info"><div class="name">Crude oil </div>12893.24</div>
        <div class="cur-index-item-chart"><div class="chart"><img src="images/chart.jpg" alt=""></div></div>
        <div class="cur-index-item-percent green">+1.38%<div class="cur">+1283.90</div></div>
    </div>
    <div class="cur-index-item">
        <div class="cur-index-item-info"><div class="name">Dow 30</div>12893.24</div>
        <div class="cur-index-item-chart"><div class="chart"><img src="images/chart.jpg" alt=""></div></div>
        <div class="cur-index-item-percent red">-12.38%<div class="cur">-1283.90</div></div>
    </div>
    <div class="cur-index-item">
        <div class="cur-index-item-info"><div class="name">Silver</div>12893.24</div>
        <div class="cur-index-item-chart"><div class="chart"><img src="images/chart.jpg" alt=""></div></div>
        <div class="cur-index-item-percent green">+1.38%<div class="cur">+1283.90</div></div>
    </div>
    <div class="cur-index-item">
        <div class="cur-index-item-info"><div class="name">Gold</div>12893.24</div>
        <div class="cur-index-item-chart"><div class="chart"><img src="images/chart.jpg" alt=""></div></div>
        <div class="cur-index-item-percent red">-12.38%<div class="cur">-1283.90</div></div>
    </div>
</div>