<div class="currencies">
    <!--div class="currencies-scroll"-->
        <div class="autoplay">
        <div class="currencies-item">
            <span class="name"><i class="icon icon-btc"></i>btc</span>
            <span class="value">12893.24<span class="cur">EUR</span></span>
            <span class="percent green">+0.3%</span>
        </div>
        <div class="currencies-item">
            <span class="name"><i class="icon icon-eth"></i>ETH</span>
            <span class="value">12893.24<span class="cur">EUR</span></span>
            <span class="percent red">-0.3%</span>
        </div>
        <div class="currencies-item">
            <span class="name"><i class="icon icon-ltc"></i>ltc</span>
            <span class="value">12893.24<span class="cur">EUR</span></span>
            <span class="percent green">+12.3%</span>
        </div>
        <div class="currencies-item">
            <span class="name"><i class="icon icon-xrp"></i>xrp</span>
            <span class="value">12893.24<span class="cur">EUR</span></span>
            <span class="percent red">-0.3%</span>
        </div>
        <div class="currencies-item">
            <span class="name"><i class="icon icon-iota"></i>iota</span>
            <span class="value">12893.24<span class="cur">EUR</span></span>
            <span class="percent red">-0.3%</span>
        </div>
        <div class="currencies-item">
            <span class="name"><i class="icon icon-xmr"></i>xmr</span>
            <span class="value">12893.24<span class="cur">EUR</span></span>
            <span class="percent red">-0.3%</span>
        </div>
        <div class="currencies-item">
            <span class="name"><i class="icon icon-dash"></i>dash</span>
            <span class="value">12893.24<span class="cur">EUR</span></span>
            <span class="percent red">-0.3%</span>
        </div>
        <div class="currencies-item">
            <span class="name"><i class="icon icon-xrp"></i>xrp2</span>
            <span class="value">12893.24<span class="cur">EUR</span></span>
            <span class="percent red">-0.3%</span>
        </div>
        <div class="currencies-item">
            <span class="name"><i class="icon icon-iota"></i>iota2</span>
            <span class="value">12893.24<span class="cur">EUR</span></span>
            <span class="percent red">-0.3%</span>
        </div>
        <div class="currencies-item">
            <span class="name"><i class="icon icon-xmr"></i>xmr2</span>
            <span class="value">12893.24<span class="cur">EUR</span></span>
            <span class="percent red">-0.3%</span>
        </div>
        </div>
    <!--/div-->
</div>