<section class="section section-page-head" style="background-image: url('images/bg-jobs.jpg')">
    <div class="container">
        <div class="section-page-head_title">
            <div class="info">
                <span class="info_item"><span class="flag flag-by"></span> Belarus, Minsk</span>
                <span class="info_item">11 April 2018</span>
                <span class="info_item">Full time</span>
            </div>
            <h1 data-aos="fade" class="slide-bg" data-aos-delay="300">Digital Content Writer</h1>
        </div>
    </div>
</section>

