<section class="section section-page-head center" style="background-image: url('images/bg-jobs.jpg')">
    <div class="container">
        <h1><span data-aos="fade" class="slide-bg" data-aos-delay="300">Open positions</span></h1>
    </div>
</section>

