<a class="section-careers-list_item" href="career-position.html">
    <div class="name">
        <h4>Python Programmer</h4>
    </div>
    <div class="town">
        <span class="flag flag-by"></span> Belarus, Minsk
        <i class="icon icon-next"></i>
    </div>
</a>
<a class="section-careers-list_item" href="career-position.html">
    <div class="name">
        <h4>Senior Python Programmer (Marketing)</h4>
    </div>
    <div class="town">
        <span class="flag flag-lt"></span> Vilnius, Lithuania
        <i class="icon icon-next"></i>
    </div>
</a>
<a class="section-careers-list_item" href="career-position.html">
    <div class="name">
        <h4>General producer</h4>
    </div>
    <div class="town">
        <span class="flag flag-ua"></span> Ukraine, Kiev
        <i class="icon icon-next"></i>
    </div>
</a>