<div class="section-careers-filter">
    <a class="link active">All</a>
    <a class="link">Product</a>
    <a class="link">Management</a>
    <a class="link">Programming</a>
    <a class="link">Analytics</a>
    <a class="link">Marketing</a>
    <a class="link">Community & Support</a>
    <a class="link">QA</a>
    <a class="link">HR</a>
    <a class="link">Finance</a>
    <a class="link">IT</a>
    <a class="link">Administration</a>
</div>