{% include "blocks/careers/_positions-filter.html" %}
{% include "blocks/careers/_positions-filter-dropdown.html" %}
<section class="section section-careers">
    <div class="container">
        <h2>Product</h2>
        <div class="section-careers-list">
            {% include "blocks/careers/_position-item.html" %}
        </div>
        <h2>Management</h2>
        <div class="section-careers-list">
            {% include "blocks/careers/_position-item.html" %}
            {% include "blocks/careers/_position-item.html" %}
        </div>
        <h2>Programming</h2>
        <div class="section-careers-list">
            {% include "blocks/careers/_position-item.html" %}
        </div>
    </div>
</section>