<section class="section section-careers-position">
    <div class="container">
        <div class="section-careers-position-content_left">
            <div class="section-careers-position-content_text">
                <h2>Job Description</h2>
                <div class="text">
                    <p>
                        We are looking for a captivating storyteller and a guardian of the user experience who will develop meaningful content for a variety of marketing initiatives and share Sociumtrade’s vision with the world.
                    </p>
                    <p>
                        As part of our growing marketing team, you will write a wide range of content including web copy, landing pages, case studies, email campaigns, press releases, weekly blogs, social posts, and so much more.
                    </p>
                </div>
            </div>
            <div class="section-careers-position-content_text">
                <h2>Tasks</h2>
                <div class="text">
                    <ul>
                        <li>Creative writing, editing, and reviewing;</li>
                        <li>Create content for website and SM channels;</li>
                        <li>Write articles, press-releases, blogs, newsletters etc;</li>
                        <li>Work with design team on the aesthetic of all marketing materials;</li>
                        <li>Help with digital customer support when needed.</li>
                    </ul>
                </div>
            </div>
            <div class="section-careers-position-content_text">
                <h2>Tasks</h2>
                <div class="text">
                    <ul>
                        <li>Excellent writing and editing skills;</li>
                        <li>Have incredible attention to detail;</li>
                        <li>Understanding of brand, including voice and tone;</li>
                        <li>Be a resilient self starter with the ability to handle multiple projects at a time;</li>
                        <li>Fluent written and spoken English. Russian language is an advantage.</li>
                    </ul>
                </div>
            </div>
            <div class="section-careers-position-content_text">
                <h2>Additional information</h2>

                <div class="text">
                    <p>
                        Please submit your resume, cover letter and one writing sample
                        to <b>jobs@sociumtrade.com</b>
                    </p>
                    <p>
                        <b>Writing sample options:</b>
                    </p>

                    <ul>
                        <li>The impact of blockchain on the financial service industry.</li>
                        <li>The idea of cryptocurrencies replacing fiat currencies in the near future. </li>
                    </ul>
                </div>
            </div>
            <div class="section-careers-position-content_button">
                <a data-toggle="modal" data-target="#send" class="btn btn-full-blue"><span class="name">Send you resume</span><span class="border"></span></a>
            </div>
        </div>
        <div class="section-careers-position-content_right">
            <div class="section-careers-position_send">
                <p>Sounds like talking about you?</p>
                <div class="send">
                <a data-toggle="modal" data-target="#send" class="btn btn-full btn-full-white"><span class="name">Send you resume</span><span class="border"></span></a>
                </div>
                <p>Or say hello to our HR manager</p>
                <a class="link" href="mailto:hr@sociumtrade.com">hr@sociumtrade.com</a>
            </div>
            <div class="section-careers-position_cat">
            <h4>Share this job</h4>
                <div class="section-careers-position-content_social">
                    <a href="#"><span class="fb"></span></a>
                    <a href="#"><span class="tw"></span></a>
                    <a href="#"><span class="in"></span></a>
                    <a href="#"><span class="mail"></span></a>
                </div>
                <h4>Other Jobs</h4>
                <div class="section-careers-position-other">
                    <div class="town">Belarus, Minsk</div>
                    <div class="name"><a class="link link-path"><span>Technical Account Manager</span></a></div>
                </div>
                <div class="section-careers-position-other">
                    <div class="town">Belarus, Minsk</div>
                    <div class="name"><a class="link link-path"><span>Technical Account Manager</span></a></div>
                </div>
                <div class="section-careers-position-other">
                    <div class="town">Belarus, Minsk</div>
                    <div class="name"><a class="link link-path"><span>Technical Account Manager</span></a></div>
                </div>
                <div class="section-careers-position-other">
                    <div class="town">Belarus, Minsk</div>
                    <div class="name"><a class="link link-path"><span>Team Lead Python Programmer</span></a></div>
                </div>
            </div>
        </div>
    </div>
</section>