<div class="section-careers-filter-dropdown">
    <div class="dropdown">
        <a class="link href-dropdown"><span class="change-value">All categories</span> <i class="caret"></i></a>
        <div class="menu-dropdown right">
            <a class="link active">All categories</a>
            <a class="link">Product</a>
            <a class="link">Management</a>
            <a class="link">Programming</a>
            <a class="link">Analytics</a>
            <a class="link">Marketing</a>
            <a class="link">Community & Support</a>
            <a class="link">QA</a>
            <a class="link">HR</a>
            <a class="link">Finance</a>
            <a class="link">IT</a>
            <a class="link">Administration</a>
        </div>
    </div>
</div>